h2 {
  font-family: $headers-font;
  font-weight: bolder;
  font-size: 200px;
  font-style: normal;
  color: white;
}

p .list_poster {
  font-family: $body-font;
  font-weight: bold;
  font-size: 140px;
  font-style: italic;
  color: black;
}
